# Environnements virtuels
venv/
env/

# Fichiers de configuration spécifiques à l'IDE
*.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Clés et fichiers sensibles
*.env
.env.local
.env.*

# Fichiers de logs
*.log

# Fichiers temporaires de l'OS
.DS_Store
Thumbs.db

# Migrations de Django
*/migrations/*
!*/migrations/__init__.py

# Media et uploads
media/
uploads/

# Static files
staticfiles/

